.head{
    width: 85vw;
    height: 15vh;
    position: absolute;
    top: 0vh;
}
.logo{
    top: 20px;
    position: absolute;
}
.right{
    width: 10vw;
    height: 120vh;
    position: absolute;
    top: 0vh;
    right: 10px;
    background-color: black;
}
.search{
    width: 5vh;
    top: 20px;
    position: absolute;
    right: 100px;
}
.car{
    width: 6vh;
    top: 20px;
    position: absolute;
    right: 10px;
}
.lol{
    top: 20px;
    color: black;
    position: absolute;
    right: 329px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:xx-large;
}
.lo{
    top: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    position: absolute;
    right: 160px;
}
.up{
    
    width: 3vw;
    position: absolute;
    right: 45px;
    top: 5px;
}
.cantidad{
    color: white;
    position: absolute;
    right: 65px;
    top: 170px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 290;
}
.num{
    color: white;
    position: absolute;
    right: 50px;
    top: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 290;
}
.num5{
    color: white;
    position: absolute;
    right: 50px;
    top: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 290;
}
.num6{
    color: white;
    position: absolute;
    right: 50px;
    top: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 290;
}
.down{
    width: 3vw;
    position: absolute;
    right: 45px;
    top: 970px;
}
.panel{
    width: 85vw;
    height: 108vh;
    position: absolute;
    top: 100px;
}
.metro{
    width: 55vw;
    position: absolute;
    left: 195px;
    top: 100px;
}
.end{
    width: 85vw;
    height: 26vh;
    position: absolute;
    top: 610px;
}
.mon{
    position: absolute;
    left: 375px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:xx-large;
}
.money{
    position: absolute;
    left: 555px;
    top: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-large;
    font-weight: 15;
}
.metrol{
    width: 13vw;
    height: 13vh;
    position: absolute;
    right: 25px;
    top: 10px;
    background-color: #D5FF43;
}
.endlog{
    background: transparent #D5FF43;
    width: 9vw;
    position: absolute;
    right: 35px;
    top: 15px;
}
.com{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 75px;
    top: 45px;
}
.sal{
    position: absolute;
    left: 595px;
    top: 85px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-large;
}
.sald{
    border-radius: 35px;
    border: solid #707070;
    width: 11vw;
    height: 8vh;
    position: absolute;
    left: 565px;
    top: 155px;
}
.mil{
    position: absolute;
    left: 55px;
    top: 15px;
    font-size: xx-large;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    color: #707070;
}
